<h2>All users</h2>
<% @users.each do |user| %>
  <li>
    <%= gravatar_for user %>
    <%= link_to user.name, user %>
    <% if logged_in? %>
      <%= link_to "delete", user, method: :delete, data: {confirm: "You sure?"} %>
    <% end %>
  </li>
<% end %>